/* // sx={{
    //   [`@media (min-width:1000px)`]: { width: "20px" },
    //   [`@media (max-width:640px)`]: {
    //     width: "sx",
    //     marginLeft: "110px",
    //   },
    //   [`@media (max-width:445px)`]: {
    //     width: "ml",
    //     marginLeft: "110px",
    //   },
    // }} */

    /* values{
    xs: 0,
    sm: 600,
    md: 960,
    lg: 1280,
    xl: 1920,
  } */

  /* variant="temporary" ["permanent","persistent","temporary"] */

  /* sx={{
    [`@media (max-width:900px)`]: {
      // width: "calc(100% - 200px)",
      // marginLeft: "200px",
    },
    [`@media (max-width:600px)`]: {
      // width: "calc(100% - 110px)",
      // marginLeft: "110px",
    },
    // [`@media (max-width:800px)`]: { width: "120px" },
    // [`@media (max-width:600px)`]: { width: "100px" },
  }} */